<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show certain person</title>
</head>
<body>
<h2>Person's info:</h2>
<hr/>
<p th:text="${person.getName()}+', '+${person.getYearOfBirth()}"/>

<div th:if="${books==null or books.empty}">
    <p>Человек пока не взял ни одной книги</p>
</div>

<div th:if="${books!=null and !books.empty}">
    <hr/>
    <b>Books:</b>
    <br/>
    <table th:each="book : ${books}">
        <tr th:if="${!book.isExpired()}">
            <td th:text="${book.getTitle()}">Book Title</td>
            <td th:text="${book.getAuthor()}">Author</td>
            <td th:text="${book.getPublishYear()}">Publish Year</td>
        </tr>
        <tr th:if="${book.isExpired()}">
            <td style="color:red" th:text="${book.getTitle()}">Book Title</td>
            <td style="color:red" th:text="${book.getAuthor()}">Author</td>
            <td style="color:red" th:text="${book.getPublishYear()}">Publish Year</td>
        </tr>
    </table>
</div>
<hr/>

<form th:method="GET" th:action="@{/people/{id}(id=${person.getId()})}+'/edit'" th:object="${person}">
    <div>
        <input type="submit" value="Edit Person">
    </div>
</form>
<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <div>
        <input type="submit" value="Delete Person">
    </div>
</form>

<hr/>
<a href="/people">return to index</a>
</body>
</html>