<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<h2>Person's info:</h2>
<hr/>
<p th:text="${person.getName()}+', '+${person.getYearOfBirth()}"/>
<hr/>
<a th:href="@{/people/{id}(id=${person.getId()})}+'/edit'" th:text="Edit">Edit no meaning (override by the th:text)</a>
<br>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">[edit - optional_coding]</a>
<br>
<br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <div>
        <input type="submit" value="Delete Person">
    </div>
</form>

<br>
<hr/>
<br>
<a href="/people">return to index</a>
</body>
</html>