<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show certain book</title>
</head>
<body>
<h2>Book's info:</h2>
<hr/>
<p th:text="${book.getTitle()}+', '+${book.getAuthor()}+', '+${book.getPublishYear()}"/>
<hr/>

<form th:method="GET" th:action="@{/books/{id}(id=${book.getId()})}+'/edit'" th:object="${book}">
    <div>
        <input type="submit" value="Edit Book">
    </div>
</form>
<br>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <div>
        <input type="submit" value="Delete Book">
    </div>
</form>

<hr/>
<br>
<a href="/books">return to index</a>
</body>
</html>